<div class="top-container">
  <h1 class="myname">Ben Neslihan Yılmaz</h1>
  <p class="occupation">Grafik Tasarımcısı ve Animatör</p>
  <object
    class="mountain"
    data="../../assets/land.svg"
    width="300"
    height="300"
  ></object>
</div>
<div class="middle-container">
  <div class="profile">
    <img src="../../assets/neslihan-cropped.png" alt="" />
    <h2 style="padding-top: 20px; padding-bottom: 20px">Hakkımda</h2>
    <p class="text-about">
      I am a Data Scientist, Machine Learning Engineer, and experienced
      economist. I like to share my knowledge and codes with programming,
      machine learning, statistics on Kaggle and GitHub, where I write
      continuously about data science, machine learning, and deep learning. My
      python programming knowledge is equipped with the analytical and
      problem-solving skills to be successful in any data-driven environment. I
      have a bachelor and master's degree in economics. I learn very fast and
      efficiently anything I want to learn and I am also a very hardworking
      person.
    </p>
  </div>
</div>

<div class="contact-me">
  <h2>İletişim</h2>
  <h3 style="color: #fff">
    Şu anda tam zamanlı, yarı zamanlı çalışma veya staj için müsaitim.
  </h3>
  <p class="contact-message">
    Asağıdaki iletişim bilgilerinden benimle temasa geçebilirsiniz.
  </p>
  <a
    class="btn contactbutton"
    href="mailto:gvnc.neslihan@icloud.com"
    style="color: #fff; margin-bottom: 2%; width: 30%; text-size: 1.4rem"
    >MESAJ GÖNDER</a
  >
</div>
